{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.6.2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">


</head>
<body>
<h1>用户注册</h1>

<img src="{% static 'img/logo.png' %}"/>

<form method="post" action="/user/add">
     {% csrf_token  %}
<div >
    <input type="text" placeholder="用户名" name="name">
    <input type="password" placeholder = "密码" name="pwd">
    <input type="text" placeholder="邮箱" name="email">
    <input type="text" placeholder="手机号" name="phone">

    <input type="submit" name="提 交"/>
</div>
</form>
</body>
</html>